html body {
    margin: 0;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.head {
    margin: 0;
    line-height: 80px;
    background: #4f9ee2;
    color: #fff;
}

.main .wrap {
    font-size: 13px;
}

.operator {
    margin: 10px 0;
}

.tip {
    font-size: 16px;
    color: #444;
    margin-right: 5px;
}

.recs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.poster {
    color: #5087e2;
    text-decoration: none;
    border-bottom: none;
    font-size: 12px;
    padding: 10px 0;
    position:relative;
}

.link {
    display: block;
    color: #5087e2;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
}

.img {
    width: 100px;
    margin-right: 10px;
    float: left;
}

.title {
    margin: 0;
    line-height: 25px;
}

.mask{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
}
.close{
	position:absolute;
	top:5px;
	right:15px;
	font-size:25px;
	color:red;
	cursor: pointer;
}
.keyword {
    line-height: 25px;
    outline: none;
}

.search {
    display: inline-block;
    line-height: 25px;
    border-radius: 3px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 2px 10px;
    font-size: 13px;
    cursor: pointer;
}

.update {
    display: block;
}

.loading {
    text-align: center;
}

.bounce {
    width: 30px;
    height: 30px;
    background-color: #67CF22;
    border-radius: 100%;
    display: inline-block;
    animation: bouncedelay 1.4s infinite ease-in-out;
    animation-fill-mode: both;
}

.loading .bounce1 {
    animation-delay: -0.32s;
}

.loading .bounce2 {
    animation-delay: -0.16s;
}

@keyframes bouncedelay {

    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.hide {
    display: none !important;
}